[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python manage.py runserver"
db = "docker-compose -f docker-compose-dev-db.yml up"

[packages]
django = "*"
pymysql = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
