<form enctype="multipart/form-data" method="POST">
  {% csrf_token %} 
  {% for field in form %}
    <div class="mb-3">
      <label for="" class="form-label">{{field.label}}</label>
      
      {% if field.field.widget.input_type == 'file' %}
        <br>
        <img class="mb-2" src="{{field.value.url}}" alt="" width="200">
      {% endif %}
      <input
        type="{{field.field.widget.input_type}}"
        class="form-control"
        name="{{field.name}}"
        id=""
        value="{{field.value | default:''}}"
        placeholder="{{field.label}} del libro"
      />
      <div class="text-danger text-decoration-none">
        {{field.errors}}
      </div>
    </div>
    

  {% endfor %}
  <div class="d-flex justify-content-between">

    <button type="submit" class="btn btn-success"> Enviar información </button>
    <a href="{% url 'books' %}" type="button" class="btn btn-link"> Cancelar </a>
  
  </div>
</form>
