{% extends 'base.html' %} {% block title %}Libros{% endblock title %} 
{% block content %}

<div class="card border-success">
  <div class="card-header">
    <h2 class="card-title text-center m-0">Lista de libros</h2>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-end mb-2">
      <a type="button" class="btn btn-success" href="{% url 'create_book' %}">Ingresar libro</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Titulo</th>
          <th scope="col">Imagen</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>Django handbook</td>
          <td>Imagen</td>
          <td>Consejos sobre el framework de Python Django</td>
          <td>Editar | Borrar</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
